@font-face {
    font-family: "Raleway";
    src: url(assests/fonts/Raleway-Regular.ttf);
}

body {
    font-family: "Raleway";
}

#upperbar {
    background-color: #EEEEEE;
    color: #666666;
}

::selection {
    background-color: black;
    color: white;
}

.hero-section {
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url(assests/images/hero.png);
}

.hero-section::before {
    content: "";
    opacity: 0.15;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 100%;
    background: #377aff;
    background: -webkit-linear-gradient(45deg, #377aff 0%, #00d9ff 100%);
}

.views-section{
    padding: 120px 0px;
}

.views-section .card img{
    position: relative !important;
    top: 0 !important;
    cursor: pointer;
    transition: .3s all ease-in-out !important;
}

.views-section .card:hover img{
    top: -5px !important;
}

@media screen and (max-width: 777px) {
    #upperbar{
        display: none !important;
    }
}